@model IEnumerable<Chamonix.Domain.Models.Admin.Estado>

@{
    ViewBag.Title = "Estados";
}

<h2>Estados</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlteradoEm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlteradoEm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.EstadoId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.EstadoId })
        </td>
    </tr>
}

</table>
