@model ChamonixResponsivo.Models.ContatoViewModels

@{
    ViewBag.Title = "Chamonix - A melhor fondue da serra";
}

<div class="container body-page">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 barra-vertical texto-barra">
            <div class="container">
                <div class="row col-md-12 titulo-barra">
                    VENHA NOS VISITAR
                </div>
                <div class="row texto-barra"><hr /></div>
                <div class="row row-space">
                    Teremos prazer em recebê-lo!<br /><br />Seja para um almoço ou um fim de noite agradável, dispomos de um ambiente climatizado e aconchegante.
                </div>
                <div class="barrinha top20"><hr /></div>
                <div class="texto-barra top20">
                    CHAMONIX FONDUE<br />
                    RS 444, Km 18.4<br />
                    Vale dos Vinhedos<br />
                    Bento Gonçalves - RS<br />
                    Tel: (54) 3464-2466
                </div>
                <div class="barrinha top20"><hr /></div>
                <div class="texto-barra top20">
                    Aceitamos cartões de crédito e débito - não aceitamos cheques, tickets e vale refeição
                </div>
                <div class="barrinha top20"><hr /></div>
                <div class="texto-barra">
                    <!-- trip advisor -->
                    <div id="TA_excellent982" class="TA_excellent">
                        <ul id="fJMCYb" class="TA_links vbdBh6347e">
                            <li id="YjE7HO0W8t" class="rtclV5FMjbZ">
                                <a target="_blank" href="https://www.tripadvisor.com.br/">
                                    <img src="https://static.tacdn.com/img2/widget/tripadvisor_logo_115x18.gif" alt="TripAdvisor" class="widEXCIMG" id="CDSWIDEXCLOGO" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <script async src="https://www.jscache.com/wejs?wtype=excellent&amp;uniq=982&amp;locationId=13195175&amp;lang=pt&amp;display_version=2"></script>                
                    <!-- // trip advisor -->
                </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-offset-1 barra-content">
            <div class="row">
                <div class="col-md-12 titulo-content text-center">
                    ESTAMOS ANSIOSOS PELO SEU CONTATO
                </div>
            </div>
            <div class="row top10">
                <div class="col-md-12">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Mensagem, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Mensagem, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Mensagem, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @if (ViewBag.Obrigado != null)
                                    {
                                        <span class="titulo-content">                                    
                                            @ViewBag.Obrigado
                                        </span>                                        
                                    }
                                    else
                                    {
                                        <input type="submit" value="Enviar mensagem" class="btn btn-sm btn-info" />
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>