@model Chamonix.Domain.Models.Admin.ContaBancaria

@{
    ViewBag.Title = "Conta Bancária";
}
<div>
    <h4>Conta Bancária</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoBanco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoBanco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeBanco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeBanco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saldo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ContaBancariaId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
