@model Chamonix.Domain.Models.Admin.Usuario

@{
    ViewBag.Title = "Usuários";
}

<h2>Usuário</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlteradoEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlteradoEm)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UsuarioId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
