<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Chamonix", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Restaurante/Usuarios">Usuários</a></li>
                            <li><a href="/Restaurante/Cargos">Cargos</a></li>
                            <li><a href="/Restaurante/Estados">Estados</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Restaurante/Fornecedores">Fornecedores</a></li>
                            <li><a href="/Restaurante/Ramo">Ramo</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Restaurante/ProdutoCategoria">Categoria de Produtos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Financeiro<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Restaurante/ContaBancaria">Contas bancárias</a></li>
                            <li><a href="/Restaurante/ContaCategoria">Categorias de contas</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Restaurante/Agendamento/Create">Lançamentos</a></li>
                            <li><a href="/Restaurante/ContasAVista">Contas à vista</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Restaurante/Pagamentos">Pagamentos</a></li>
                        </ul>
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user gray" aria-hidden="true"></span>
                                <span class="gray">@User.Identity.Name.ToUpper()</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Admin/Usuario/TrocarSenha">Trocar senha</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="pull-right top15">
                                <span class="left20"><a href="/Restaurante/Login/Logout" class="gray">Sair</a></span>
                            </div>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="container body-content" style="margin-top:80px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Chamonix</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>